/*------------------------------------------------------------*\
                      TRANSACTIONAL EMAILS
\*------------------------------------------------------------*/

/*
 * PULP EMAIL TEMPLATE
 * Use http://pulp.glitchpack.com/ To generate bulletproof
 * responsive Email templates
 *
 * Custom changes:
 * Added SASS variables.
 * Change the generated code to SASS
 *
 */


/*------------------------------------------------------------*\
                 TRANSACTIONAL EMAIL VARIABLES
\*------------------------------------------------------------*/

/* Colors */
$email-background: #ffffff;
$email-font-color: #333333;
$email-link-color: #ee6a56;

/* Typography */
$email-font-family: sans-serif;

$email-base-font-size: 14px;
$email-h1-font-size: 21px;
$email-h2-font-size: 18px;
$email-h3-font-size: 16px;

$email-h1-bottom-margin: 18px;
$email-h2-bottom-margin: 12px;
$email-h3-bottom-margin: 8px;

/* Layout */
$email-main-width: 600px; /* Make sure to also change this value in the email templates */
$email-inner-padding: 10px;
$email-vertical-padding: 10px;
$email-sidebar-width: 200px;

/*------------------------------------------------------------*\
                 TRANSACTIONAL EMAIL STYLES
\*------------------------------------------------------------*/

body {
    margin: 0 !important;
    padding: 0;
    background-color: $email-background;
}

table {
    border-spacing: 0;
    font-family: $email-font-family;
    color: $email-font-color;
}

td {
    padding: 0;
}

img {
    border: 0;
}

div[style*="margin: 16px 0"] {
    margin: 0 !important;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.webkit {
    max-width: $email-main-width;
    margin: 0 auto;
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: $email-main-width;
}

.full-width-image img {
    width: 100%;
    max-width: $email-main-width;
    height: auto;
}

.inner {
    padding: $email-inner-padding;
}

p {
    Margin: 0;
}

a {
    color: $email-link-color;
    text-decoration: underline;
}

.h1 {
    font-size: $email-h1-font-size;
    font-weight: bold;
    Margin-bottom: $email-h1-bottom-margin;
}

.h2 {
    font-size: $email-h2-font-size;
    font-weight: bold;
    Margin-bottom: $email-h2-bottom-margin;
}

.h2 {
    font-size: $email-h3-font-size;
    font-weight: bold;
    Margin-bottom: $email-h3-bottom-margin;
}

/* One column layout */
.one-column {
    .contents {
        text-align: left;
    }
    p {
        font-size: $email-base-font-size;
        Margin-bottom: 10px;
    }
}

/*Two column layout*/
.two-column {
    text-align: center;
    font-size: 0;

    .column {
        width: 100%;
        max-width: $email-main-width/2;
        display: inline-block;
        vertical-align: top;
    }

    .contents {
        font-size: $email-base-font-size;
        text-align: left;
    }

    img {
        width: 100%;
        max-width: $email-main-width/2-2*$email-inner-padding;
        height: auto;
    }

    .text {
        padding-top: $email-vertical-padding;
    }
}

.contents {
    width: 100%;
}

/*Three column layout*/
.three-column {
    text-align: center;
    font-size: 0;
    padding-top: $email-vertical-padding;
    padding-bottom: $email-vertical-padding;

    .column {
        width: 100%;
        max-width: $email-main-width/3;
        display: inline-block;
        vertical-align: top;
    }

    .contents {
        font-size: $email-base-font-size;
        text-align: center;
    }

    img {
        width: 100%;
        max-width: $email-main-width/3-2*$email-inner-padding;
        height: auto;
    }

    .text {
        padding-top: $email-vertical-padding;
    }
}

/*Media Queries*/
@media screen and (max-width: 400px) {
    .two-column .column, .three-column .column {
        max-width: 100% !important;
    }
    .two-column img {
        max-width: 100% !important;
    }
    .three-column img {
        max-width: 50% !important;
    }
}

@media screen and (min-width: 401px) and (max-width: 620px) {
    .three-column .column {
        max-width: 33% !important;
    }
    .two-column .column {
        max-width: 50% !important;
    }
}

/* Left sidebar layout */
.left-sidebar {
    text-align: center;
    font-size: 0;

    .column {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .left {
        max-width: $email-sidebar-width;
    }

    .right {
        max-width: $email-main-width - $email-sidebar-width;
    }

    .img {
        width: 100%;
        max-width: 80px;
        height: auto;
    }

    .contents {
        font-size: $email-base-font-size;
        text-align: center;
    }

    a {
        color: $email-link-color;
    }
}

/* Right sidebar layout */
.right-sidebar {
    text-align: center;
    font-size: 0;

    .column {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .left {
        max-width: $email-sidebar-width;
    }

    .right {
        max-width: $email-main-width - $email-sidebar-width;
    }

    .img {
        width: 100%;
        max-width: 80px;
        height: auto;
    }

    .contents {
        font-size: $email-base-font-size;
        text-align: center;
    }

    a {
        color: $email-link-color;
    }
}