<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]--><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
    {{var non_inline_styles}}
</head>
<body>
<center class="wrapper">
    <div class="webkit">


        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
            <tr>
                <td>
        <![endif]-->
        <table class="outer" align="center">

            <tbody>
            <tr class="psingle">
                <td class="one-column">
                    <table width="100%">
                        <tbody>
                        <tr>
                            <td class="inner contents">
                                <p>
                                    <a href="{{store url=""}}">
                                    <img
                                            {{if logo_width}}
                                            width="{{var logo_width}}"
                                            {{else}}
                                            width="165"
                                            {{/if}}

                                    {{if logo_height}}
                                    height="{{var logo_height}}"
                                    {{else}}
                                    height="48"
                                    {{/if}}

                                    src="{{var logo_url}}"
                                    alt="{{var logo_alt}}"
                                    border="0"/>
                                    </a>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- Begin Content -->