/*------------------------------------------------------------*\
                       COMMON STYLES
\*------------------------------------------------------------*/

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` for the entire project,
 *    sourced from our default variables.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
    box-sizing: border-box;
    font-size: $base-font-size; /* [1] */
    overflow-y: scroll; /* [2] */
    min-height: 100%; /* [3] */
}

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}


/**
 * 1. Ensure tables fill up as much space as possible.
 */

table {
    width: 100%; /* [1] */
}

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */

img {
    max-width: 100%; /* [1] */
    font-style: italic; /* [2] */
    vertical-align: middle; /* [3] */
}


/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */

img[width], /* [1] */
img[height] {  /* [1] */
    max-width: none;
}