/*------------------------------------------------------------*\
                       GENERAL MIXINS
\*------------------------------------------------------------*/

/*
 * Mixin to drop micro clearfix into a selector. Further reading:
 * http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
 */

@mixin clearfix() {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}


/*------------------------------------------------------------*\
                     VENDOR PREFIXES MIXINS
\*------------------------------------------------------------*/

/*
 * Use http://caniuse.com/ and http://shouldiprefix.com/ to determine which
 * prefixes should be used in the mixins to avoid code bloat.
 */